header {
    * { color: black !important; }

    > a:hover {
        text-decoration: underline !important;
    }
}

.nav-link {
    border: 1px solid rgba($color: black, $alpha: 0.0);

    &:hover {
        border: 1px solid black;
        // border: 1px solid #0d6efd;
    }
}

.btn-outline-black {
    @extend .btn-outline-secondary !optional;

    --bs-btn-color: #000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-color: #fff;

    &:hover {
        color: #fff !important;
    }
}