<div class="top-three-container container row">
    <section [ngClass]="count > 0 ? 'col-6' : 'col-12'" class="d-flex flex-column align-items-center justify-content-around">
        <p class="title">{{getTitle()}}</p>
        <p class="header">{{count}}</p>
    </section>
    @if (count > 0) {
    <section [ngClass]="count > 0 ? 'col-6' : 'col-12'" class="d-flex flex-column align-items-center justify-content-around">
        <p class="title">Latest 3</p>
        <div class="value">
        @for (song of songs; track $index) {
            <app-latest-pers-song-card-item [songItem]="song"></app-latest-pers-song-card-item>
        }
        </div>
    </section>
    }
</div>