<div class="container">
    <div class="row p-1">
        <section class="profile-wrap col-12 col-lg-6">
            <div class="container p-4">
                <!-- https://pixabay.com/vectors/avatar-man-male-glasses-spectacles-2024924/ -->
                <img src="https://cdn.pixabay.com/photo/2017/01/31/15/12/avatar-2024924_1280.png" alt="profile-pic">
                <section class="pair">
                    <p class="title">Username:</p>
                    <p class="value">{{ getUser()?.username }}</p>
                </section>
                <section class="pair">
                    <p class="title">Email:</p>
                    <p class="value">{{ getUser()?.email }}</p>
                </section>
            </div>
        </section>
        <section class="songs-wrap col-12 col-lg-6">
            <app-latest-pers-song-board></app-latest-pers-song-board>
        </section>
    </div>
</div>
