<div class="container py-4">
    <h3 class="mb-4">Your Favorite Songs</h3>

    @if (isEmpty$ | async) {
    <div class="alert alert-info">
        You haven't liked any songs yet.
    </div>
    }

    <div class="row g-3">
        @for (fav of favorites$ | async; track fav.id) {
        <div class="col-md-6 col-lg-4">
            <app-favorite-item
                (dislike)="dislike($event)"
                [favItem]="fav">
            </app-favorite-item>
        </div>
        }
    </div>
</div>